.navigation a {
    border: solid black 1px;
    padding: 2px;
}

.status-open{
    background:orange;
}

.status-merged{
    background:green;
}

.diff {
    z-index:-1;position:relative;
}

.diff-new{
    background:rgba(123, 255, 123, 0.7);
}
.diff-empty{
    background:rgba(171, 171, 171, 0.7);
}
.diff-modified{
    background:rgba(181, 90, 90, 0.7);
}

.focus{
    height:1em;
    border:solid red 5px;
    border-radius:10px;
}

.description{
    background:white;
    font-weight: bold;
    width:80%;
    padding:10px 20px;
    border:solid silver 1px;
    border-radius: 0 0 20px 20px;
    transition: cubic-bezier();
    transition-property: opacity;
    transition-duration: 100ms;
    opacity: 0;
}

#anker:hover .description{
    opacity: 1;
}

.advice-box{
    width: 80%;
    background: white;
    border: solid silver 1px;
    border-top:none;
}

.advice-box ul li {
    list-style:disc;
    padding:5px;
}

#comment-txt.foul{
    background:red;
    color:white;
}